{% extends 'base.html' %} {% block title %}Home page{% endblock %} {% block
content %}
<section class="grid grid-cols-2 gap-2 mt-4">
	<form class="flex flex-col gap-2" action="/dojos/create" method="POST">
		<h1 class="text-center font-bold text-xl">New Dojo</h1>
		<label for="name">Name:</label>
		<input
			class="border border-gray-200 rounded p-2 focus:ring-1 focus:ring-sky-500 focus:border-sky-500 focus:outline-none"
			type="text"
			name="name"
			id="name"
		/>
		<button
			class="w-full rounded hover:bg-sky-400 transition-all bg-sky-500 p-1 text-white"
		>
			Create
		</button>
	</form>
	<div>
		<h1 class="text-center text-xl font-bold mb-2">All Dojos</h1>
		<div class="border-2 rounded border-sky-300 flex flex-col p-4 gap-2">
			{% for dojo in dojos %}
			<a
				class="hover:underline text-sky-500 hover:text-sky-400 hover:cursor-pointer transition-all"
				href="/dojos/{{dojo.id}}"
				>{{dojo.name}}</a
			>
			{% endfor%}
		</div>
		<a
			class="w-full block mt-2 text-center rounded hover:bg-sky-400 transition-all bg-sky-500 p-1 text-white"
			href="/ninjas"
			>Add Ninja</a
		>
	</div>
</section>
{% endblock %}
